:root {
  --main-color: rgba(255, 255, 255, 1);
}
.container {
  padding-left: 16px;
  padding-right: 16px;
}
.sub-container {
  margin-top: 80px;
  margin-bottom: 80px;
  padding-left: 16px;
  padding-right: 16px;
}
.add-container {
  margin-top: 100px;
  margin-bottom: 100px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
h2 {
  font-family: Playfair Display, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0em;
}
p {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em;
}
html {
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
li {
  list-style: none;
}

/* HEADER SECTION */
.main-title {
  font-family: Playfair Display, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0em;
  color: var(--main-color);
  margin-top: 100px;
}
.main-subtitle {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em;
  color: var(--main-color);
  margin-top: 16px;
}
.header {
  background-image: url(/images/hero.jpg);
  background-size: fill;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}
.header__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 16px;
  margin-right: 16px;
  height: 98px;
}
.svg-icon {
  fill: rgba(255, 255, 255, 1);
}
.logo {
  width: 140px;
  height: 27.5px;
}
.hamburger {
  width: 50px;
  height: 50px;
}
.header__button {
  background-color: transparent;
  border: none;
}
.booking-form {
  background-color: var(--main-color);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  padding: 20px;
  gap: 40px;
}
.booking-form label {
  font-family: Rubik, sans-serif;
  color: rgba(118, 126, 134, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0em;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.booking-form select {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 15px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  font-size: 16px;
}
.booking-form input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  font-size: 16px;
  background: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
.main-button {
  display: flex;
  align-items: baseline;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 119, 87, 1);
  font-family: Playfair Display, sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0em;
  border: none;
  padding-top: 40px;
  padding-left: 20px;
  padding-bottom: 40px;
  width: 100%;
  text-align: start;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.svg-arrow {
  fill: rgba(255, 255, 255, 1);
  width: 21px;
  height: 21px;
  margin-left: auto;
  margin-right: 20px;
}
/* Destination-section */
.destination-title {
  border-bottom: 3px solid rgba(255, 119, 87, 1);
  width: 227px;
  padding-bottom: 20px;
}
.destination-subtitle {
  margin-top: 32px;
  color: rgba(118, 126, 134, 1);
}
.photo-section {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 320px;
  border-radius: 16px;
  background-image: url("/images/berlin.jpg");
  background-position: center;
  background-size: cover;
}
.svg-location {
  fill: var(--main-color);
  width: 24px;
  height: 24px;
}
.photo-description {
  display: flex;
  flex-direction: column;
  gap: 17px;
  position: absolute;
  bottom: 40px;
  left: 20px;
  color: rgba(255, 255, 255, 1);
}
.berlin-title {
  font-family: Playfair Display, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em;
}
.berlin-subtitle {
  display: flex;
  align-items: center;
  gap: 16px;
}
