*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

h2 {
  font-family: Playfair Display, sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0em;
}
h4 {
  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 1);
}
p {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em;
}
html {
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
li {
  list-style: none;
}
button {
  cursor: pointer;
  background: none;
  border: none;
}
.subtitle {
  margin-top: 32px;
  color: rgba(118, 126, 134, 1);
}
.title {
  padding-bottom: 20px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 65%;
    height: 3px;
    background-color: rgba(255, 119, 87, 1);
  }
}