*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

h2 {
  font-family: Playfair Display, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0em;
}
h4 {
  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 1);
}
p {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em;
}
html {
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
li {
  list-style: none;
}
