.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-bottom: 80px;
}
.button {
  width: 60px;
  height: 66px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
.back-btn {
  background-color: rgba(23, 36, 50, 1);
}
.next-btn {
  background-color: rgba(255, 119, 87, 1);
}
.arrow {
  fill: rgba(255, 255, 255, 1);
  width: 20px;
  height: 10px;
}
