.gallery-title {
  padding-bottom: 20px;
  border-bottom: 3px solid rgba(255, 119, 87, 1);
  width: 288px;
}
.gallery-subtitle {
  margin-top: 32px;
  color: rgba(118, 126, 134, 1);
}
.gallery-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

