.header {
  background-image: url(/images/hero.jpg);
  background-size: cover;
  width: 100%;
  background-position: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}
.header__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 98px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  & button:first-child {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
.svg-icon {
  fill: rgba(255, 255, 255, 1);
}
.logo {
  width: 140px;
  height: 27.5px;
  cursor: pointer;
  @media screen and (min-width: $tablet) {
    width: 234px;
    height: 45.608px;
  }
}
.hamburger {
  width: 50px;
  height: 50px;
  &:hover {
    transform: rotate(-90deg);
    transition: transform 250ms ease-in-out;
  }
}
